<h1>Search for Flights</h1>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label :departure_airport_id, "Departure Airport: " %>
  <%= form.collection_select :departure_airport_id, Airport.order(:city), :id, :city, selected: 1 %>

  <%= form.label :arrival_airport_id, "Arrival Airport: " %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:city), :id, :city, selected: 10 %>

  <%= form.label :departure_date, "Date: " %>
  <%= form.collection_select :departure_date, @flights.distinct_departure_dates, :departure_date, :departure_date_formatted %>

  <%= form.label :passengers, "Number of Passengers: " %>
  <%= form.number_field :passengers, in: 1..4, value: 1  %>

  <%= form.submit "Search" %>
<% end %>

<% if params[:commit] %>
  <% if @search_results.any?%>
    <%= form_with url: new_booking_path, method: :get do |form| %>
      <% @search_results.each do |flight| %>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label :flight_id,
        "Flight #{flight.number} from #{flight.departure_airport[:code]}
        to #{flight.arrival_airport[:code]}, 
        on #{flight.departure_date_formatted} 
        at #{flight.departure_time_formatted}" %>

        <%= form.hidden_field :passengers, value: params[:passengers]%>

        <%= form.submit "Select Flight" %>
      <% end %>
    <% end %>
    <% else %>
      <p>No flights found.</p>
    <% end %>
<% end %>
