<h1>Search for Flights</h1>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label :departure_airport_id, "Departure Airport: " %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, selected: 1 %>

  <%= form.label :arrival_airport_id, "Arrival Airport: " %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code, selected: 10 %>

  <%= form.label :departure_date, "Date: " %>
  <%= form.collection_select :departure_date, @flights.distinct_departure_dates, :departure_date, :departure_date_formatted %>

  <%= form.label :passengers, "Number of Passengers: " %>
  <%= form.number_field :passengers, in: 1..4, value: 1  %>

  <%= form.submit "Search" %>
<% end %>

<% if params[:commit] %>
  <% if @search_results.any?%>
    <% @search_results.each do |flight| %>
      <%= flight.number %>
    <% end %>
  <% else %>
    <p>No flights found.</p>
  <% end %>
<% end %>
